<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOTION woman</title>
    <link rel="stylesheet" href="/style/main.css">
</head>

<body>
 <header class="headernav">
        <div class="headernav__top">
            <a href="logo"><img class="headernav__img" src="./images/logo.png" alt=""></a>
            <nav class="headernav__users">
                <a href="search"><img class="headernav__icons" src="./images/search.png" alt=""></a>
                <a href="user"><img class="headernav__icons" src="./images/user.png" alt=""></a>
                <a href="like"><img class="headernav__icons" src="./images/like.png" alt=""></a>
                <a href="store"><img class="headernav__icons" src="./images/store.png" alt=""></a>
            </nav>
        </div>
        <div class="headernal__line">
            <hr>
        </div>

        <nav class="headernav__bottom">
            <a href="#" class="headernav__link">New</a>
            <a href="#" class="headernav__link">Woman</a>
            <a href="#" class="headernav__link">Man</a>
            <a href="#" class="headernav__link">Store</a>
        </nav>

        <hr>
    </header>

    {{{body}}}
    
    <section class="everything__bug"></section>
    <hr>
   <footer class="mainFooter">
        <div class="footertext">
            <p class="footertext__info">
                Subscribe now and enjoy 10% on garments of the new collection</p>
            <input class="footertext__input" type="email" name="" id="" placeholder="Enter your e-mail">
            <div class="footertext__line"></div>
        </div>

        <section class="footertext__socialnetworks">
            <a href="face"><img class="footer__icons" src="./images/1face.png" alt=""></a>
            <a href="twitter"><img class="footer__icons" src="./images/2twitter.png" alt=""></a>
            <a href="insta"><img class="footer__icons" src="./images/3insta.png" alt=""></a>
            <a href="pinterest"><img class="footer__icons" src="./images/4pinte.png" alt=""></a>
            <a href="youtube"><img class="footer__icons" src="./images/5youtube.png" alt=""></a>
        </section>


    </footer>
</body>

</html>