.compra{
    background-image: url('../images/CodBack.png');
}
.bag__input {
    color: black;
    text-align: center;
}

.bag__input {
    border: transparent;
    width: 350px;
    height: 45px;
    text-align: center;
    margin: 10px auto;
    background-color: rgb(255, 38, 38);
}

.bag__boto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 200px;
    height: 30px;
    background-color: #000000;
}

