
.produ {
margin: 50px;
margin-left: 30%;
width: 40%;
}

.all {
    background: black;
}

.info {
font-family: "media";
color: white;
display: flex;
flex-direction: column;
justify-content: center;
}

.info__nameItem {
    text-align: center;
    font-size: 10px;
    background-color: red;
}

.info__etc {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: white;
    font-size: 15px;
}

.contenedor {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.cont__size{
margin: auto;
}

.info__size {
    height: 24px;
    margin: auto ;
    align-items: center;
    & a {
        margin-left: 50px;
        
    }
}

.info__etc__boto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 200px;
    height: 30px;
    background-color: #ea1d24;
}
