*{
  margin: 0;
  padding: 0;  }
 
  .everything__bug {
    width: 100%;
    height: 150px;
    background-image: url("/images/FuckUBlue.png");
    background-size: contain;
    background-repeat: repeat;
  }


@import 'mainHeader';
@import 'mainContentProducts';
@import 'mainFooter';
@import 'mainProduSee';
@import 'mainFinalCompra';
