<main>
    <div class="bag">
        <p>Shopping bag</p>
        <input class="bag__input" type="email" name="" id="" placeholder="name">
        <input class="bag__input" type="email" name="" id="" placeholder="id">
        <input class="bag__input" type="email" name="" id="" placeholder="payment method">
        <input class="bag__input" type="email" name="" id="" placeholder="direction">
    </div>

    Lista de los productos comprados
    
    <div>
        <a href="#" class="bag_boto">keep buying</a>
        <a href="#" class="bag_boto">make an order</a>
        <a href="#" class="bag_boto">delete purchase</a>

    </div>
</main>