<main>
    <div class="all">

        <div class="info"> 

            <div class="info__nameItem">
                
                <img class="produ" src="{{img}}" alt="">
                
                <div class="clothes__name">
                    <h3>{{title}}</h3>
                 </div>
                <div class="clothes__price">
                    <h4>${{price}}</h4>
                </div>
                <p href="">Item.45190</p>
            </div>

<div class="contenedor">
            <div class="info__size">
                <img src="/images/S.png" alt="">
                <img src="/images/M.png" alt="">
                <img src="/images/L.png" alt="">
            </div>

            <div class="info__etc">

               <a href="#" class="info__etc__boto">Add to bag</a>

               <hr>
               <div>Description and care</div>
               <hr>
               <div>Shipping logistics</div>
               <hr>
               <div>Exchange and guarantees</div>
               <hr>
               
            </div>
</div>
        </div>

    </div>


</main>